<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
 <listeners>
    <listener class-name="listeners.Listeners"></listener>
    </listeners>
    <test name="ProductTests">
        <classes>
            <class name="EndToEndTests.ProductOrder"/>
        </classes>
    </test>

    <test name="ErrorTests">
        <classes>
            <class name="EndToEndTests.ErrorValidation"/>
        </classes>
    </test>
</suite>